[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
daphne = "*"
psycopg2-binary = "*"
channels = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.13"
